{% extends "layout.html" %}
<!-- <body class"container"> -->
{% block content %}



    <div class="row h-100 justify-content-center align-content-center ">

        <div class="chatbot-modal"> 
            <div id="textfield" class="textfield">
                <div class="response message-left">
                    <p class="bg-primary">{{greeting}}</p>
                </div>

            </div>
            <div class="row">
                <a class="audio-control btn speaker"><i class="fas fa-volume-mute"></i><i class="fas fa-volume-up"></i></a>
                <a class="voice-control btn bg-primary mic"><i class="fas fa-microphone"></i></a>
                <input id="userInput" class="messageInput" type="text" placeholder="Type your question here...">
                <a class="btn send-btn">Send</a>
            </div>

        </div>
        

    </div>  

    <script>
           

            
    </script>

{% endblock content %}
<!-- </body>    -->
